<div class="row">
    <button class="btn btn-default" style="margin-left: 104px;">
     <img src="../../assets/Pizza Image 1.jpg" width="250" />
   </button>
   <button class="btn btn-default">
     <img src="../../assets/Pizza Image 7.jpg" width="250" />
   </button>
   <button class="btn btn-default">
     <img src="../../assets/Pizza1 (2).jpg" width="250" />
   </button>
   <button class="btn btn-default">
     <img src="../../assets/Pizza Image 5.jpg" width="250" />
   </button>
   <br>
   <br>
   <br>
   <button class="btn btn-default" style="margin-left: 104px;">
     <img src="../../assets/Pizza1 (4).jpg" width="250" />
   </button>
   <button class="btn btn-default">
     <img src="../../assets/Pizza Image 2.jpg" width="250" />
   </button>
   <button class="btn btn-default">
     <img src="../../assets/Pizza Image 8.jpg" width="250" />
   </button>
   <button class="btn btn-default">
     <img src="../../assets/Pizza1 (7).jpg" width="250" />
   </button>
   <br>
   <br>
   <br>
   <button class="btn btn-default" style="margin-left: 104px;">
    <img src="../../assets/Pizza Image 9.jpg" width="250" />
  </button>
  <button class="btn btn-default">
    <img src="../../assets/Pizza Image 10.jpg" width="250" />
  </button>
  <button class="btn btn-default">
    <img src="../../assets/Pizza Image 11.jpg" width="250" />
  </button>
  <button class="btn btn-default">
    <img src="../../assets/Pizza Image 12.jpg" width="250" />
  </button>
  <br>
  <br>
  <br>
  <button class="btn btn-default" style="margin-left: 104px;">
    <img src="../../assets/Pizza Image 3.jpg" width="250" />
  </button>
  <button class="btn btn-default">
    <img src="../../assets/Pizza1 (4).jpg" width="250" />
  </button>
  <button class="btn btn-default">
    <img src="../../assets/Carousel2Pizza.jpg" width="250" />
  </button>
  <button class="btn btn-default">
    <img src="../../assets/Pizza Image 6.jpg" width="250" />
  </button>
</div>
   