
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-4" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/PizzaLogo.png" alt="PizzaLogo"/><h1 class="tittle">Pizza Express...</h1></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Menu <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Today's Special </a></li>
      
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Orders</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <img src="../../../assets/Carousel1Pizza.jpg" alt="Los Angeles">
      <div class="carousel-caption">
        <h3>Aussie Pizza</h3>
        <p>is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="../../../assets/Carousel2Pizza.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Peppy Paneer Pizza</h3>
        <p>Great Deal !</p>
      </div>
    </div>
  
    <div class="item">
      <img src="../../../assets/Carousel3Pizza.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>Pepperoni Pizza</h3>
        <p>You Always love This !</p>
      </div>
    </div>

  </div>
</div>
<br>
<br>
 <span class="toppingHeading1">Winning hearts with &nbsp;</span><span class="toppingHeading2">2X toppings!</span>
 <br>
 <br>
<div class="extraImfoImage">
        <img  src= "../../../assets/ExtraInfo1.png" class="img-rounded" alt="Cinque Terre">
</div>
<h1 class="orderNow">Order Now</h1>
<br>
<br>
<div class="row">
 <button class="btn btn-default" style="margin-left: 104px;">
  <img src="../../../assets/ToomuchCombo.png" width="250" (click)="navigate(1)" />
</button>
<button class="btn btn-default">
  <img src="../../../assets/Daily199.png" width="250" (click)="navigate(2)"/>
</button>
<button class="btn btn-default">
  <img src="../../../assets/Half&Half.png" width="250" (click)="navigate(3)" />
</button>
<button class="btn btn-default">
  <img src="../../../assets/Veg-Starters.png" width="250" (click)="navigate(4)" />
</button>
<br>
<br>
<br>
<button class="btn btn-default" style="margin-left: 104px;">
  <img src="../../../assets/BigVage.png" width="250"  (click)="navigate(5)"/>
</button>
<button class="btn btn-default">
  <img src="../../../assets/BigNonVage.png" width="250" (click)="navigate(6)"/>
</button>
<button class="btn btn-default">
  <img src="../../../assets/RegularVage.png" width="250" (click)="navigate(7)"/>
</button>
<button class="btn btn-default">
  <img src="../../../assets/Regular NonVage.png" width="250" (click)="navigate(8)" />
</button>
</div>
